<div class="container">
    <div class="row">
        <div class="col-8">
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
            IMAGENS
        </div>
        <div class="col-4">
            <div class=row>PRICE</div>
            <div class=row>LOCATION</div>
            <div class=row>OVERVIEW</div>
            Interior details
    Bedrooms and bathrooms
    Bedrooms: 3
    Bathrooms: 2
    Full bathrooms: 2
    Basement
    Basement: Finished,Partial
    Heating
    Heating features: Oil, Hot Water
    Cooling
    Cooling features: Central Air
    Appliances
    Appliances included: Dishwasher, Dryer, Oven, Refrigerator, Washer
    Interior Features
    Window features: Skylight(s)
    Interior features: Den/Family Room, Eat-in Kitchen, Formal Dining Room
    Other interior features
    Common walls with other units/homes: No Common Walls
    Total interior livable area: 2,400 sqft
    Total number of fireplaces: 0
    Fireplace features: Wood Burning Stove
    Attic: Full,Pull Stairs
    Property details
    Parking
    Parking features: Private, Attached, 1 Car Attached, Driveway
    Garage spaces: 1
    Attached garage: Yes
    Property
    Private pool: Yes
    Pool features: Inground Pool
    Exterior features: Sprinkler Lawn System
    Patio and porch details: Patio
    Fencing: Back Yard,Fenced
    Lot
    Lot size: 0.55 Acres
    Lot size dimensions: .55
    Other property information
    Parcel number: 0200-668-00-02-00-008-001
    Exclusions: Grill
    Construction details
    Type and style
    Home type: SingleFamily
    Architectural style: Split Level
    Property subType: Single Family Residence
    Material information
    Construction materials: Frame
    Condition
    New construction: No
    Year built: 2005
    Utilities / Green Energy Details
    Utility
    Sewer information: Cesspool
    Water information: Public
    Green energy
    Construction elements: Frame
    Community and Neighborhood Details
    Location
    Region: Shirley
    HOA and financial details
    Other financial information
    Tax assessed value: $350,649
    Other
    Other facts
    Price Range: $525K - $525K
        </div>
    </div>
    </div>
    