.form-field {
    width: 95%;
}

.border-box {
    margin-top: 100px;
    padding: 15px;
    width: 30%;
}

.border-box-mobile {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
}

.border-box-no-height{
    padding: 15px;
    width: 30%;
}

.register-header{
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 15px;
}

.register-btn {
    height: 50px;
    border-radius: 15px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
