
<div class="container-center">
  
    <div class="container-center-column">
        <!--TITLE-->
        <div class="row width-80">
            <div class="title">
                {{title}}
            </div>
        </div>
        <div class="row width-80">
            Please enter the required information:
        </div>
        <!--LINE 1-->
        <div class="row width-80">
            <form  class="row width-100" [formGroup] = "mainPropertyCharacteristic">
                <div class="row width-100">
                    <div class="width-30 form">
                        <label for="name">Price *</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <input formControlName="price" placeholder="Price" type="number" matInput required>
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label for="netAream2">Area m2*</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <input type="number" matInput placeholder="Area m2*" formControlName="netAream2" required>
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label  for="priceNetAream2">Price/m2</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <input type="number" matInput placeholder="Price/m2" formControlName = "priceNetAream2" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row width-100">
                    <div class="width-30 form">
                        <label for="grossAream2">Gross Area m2</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <input type="number" matInput placeholder="Gross Area m2" formControlName="grossAream2">
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label for="propertyTypeId">Typology*</label>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-select formControlName="propertyTypeId" required>
                                <mat-option *ngFor="let type of propertyTypes" [value]="type.Id">
                                    {{type.Type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label for="floor">Floor</label>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-select formControlName="floor">
                                <mat-option *ngFor="let floor of floors" [value]="floor">
                                    {{floor}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label for="rooms">Room</label>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-select formControlName="rooms">
                                <mat-option *ngFor="let room of rooms" [value]="rooms">
                                    {{room}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row width-100">
                    <div class="width-30 form">
                        <label for="yearOfConstruction">Year of construction</label>
                        <mat-form-field class="full-width form" appearance="outline">
                            <input type="number" placeholder="Year of construction" matInput formControlName="yearOfConstruction">
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label for="numberOfBathrooms">Nº Bathrooms*</label>
                        <mat-form-field class="width-100 form" appearance="outline">
                            <mat-select formControlName="numberOfBathrooms" required>
                                <mat-option *ngFor="let bathroom of bathrooms" [value]="bathroom">
                                    {{bathroom}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="width-30 form">
                        <label for="enerergyCertificate">Energy Certificate</label>
                        <mat-form-field class="width-100 form" appearance="outline">
                            <mat-select formControlName="enerergyCertificate">
                                <mat-option *ngFor="let certificate of energyCertificate" [value]="certificate">
                                    {{certificate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>

        <!--LINE 4-->
        <!--LINE 5-->
        <div class="row width-80">
            <div class="title">
                Add Descritpion*
            </div>
        </div>
        <div class="row width-80">
            <textarea matInput class="textarea" [(ngModel)]="sellHouseForm.Description" required></textarea>
        </div>
        <!--LINE 6-->
        <div class="row width-80">
            <div class="title">
                Add Photos (max 12)
            </div>
        </div>
        <div class="row width-80">
            Please add photos:
        </div>
        <div class="row width-80">
            <div class="photo">
                <input type="file" hidden #uploader accept="image/*" (change)="uploadImage($event)">
                <span class="material-icons" (click)="uploader.click()">
                    add_photo_alternate
                </span>
            </div>
            <div class="photo-inserted" *ngFor="let thumbnail of thumbnails">
                <div class="fill">
                    <img [src]="thumbnail">
                </div>
            </div>
        </div>
        <!--LOCATION-->
        <div class="row width-80">
            <div class="title">
                Location
            </div>
        </div>
        <div class="row width-80">
            <div class="width-30 form">
                <div>Country*</div>
                <mat-form-field class="width-100 form" appearance="outline">
                    <mat-select [(ngModel)]="sellHouseForm.Country" required>
                        <mat-option *ngFor="let country of countries" [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="width-30 form">
                <div>City*</div>
                <mat-form-field class="full-width form" appearance="outline">
                    <input matInput [(ngModel)]="sellHouseForm.City" required>
                </mat-form-field>
            </div>
            <div class="width-30 form">
                <div>Street and Nª*</div>
                <mat-form-field class="full-width form" appearance="outline">
                    <input matInput [(ngModel)]="sellHouseForm.Address" required>
                </mat-form-field>
            </div>
        </div>
        <!--MAP-->
        <div class="row width-80 height">
            <div class="row width-80">
                <div>
                    Or set the location with the marker:
                </div>
            </div>
            <app-map (coordinates)="setCoordinates($event)" [mapPointInput]="mapPoint"></app-map>
        </div>
        <!--LINE 7-->
        <div class="row width-80">
            <div class="title">
                Charecteristics
            </div>
        </div>
        <div class="row width-80">
            <mat-checkbox class="checkbox">Lareira</mat-checkbox>
            <mat-checkbox class="checkbox">Ar Condicionado</mat-checkbox>
            <mat-checkbox class="checkbox">Jacuzzi</mat-checkbox>
            <mat-checkbox class="checkbox">Despensa</mat-checkbox>
            <mat-checkbox class="checkbox">Terraço</mat-checkbox>
        </div>
        <div class="row width-80">
            <mat-checkbox class="checkbox">Estores Eléctricos</mat-checkbox>
            <mat-checkbox class="checkbox">Cozinha Equipada</mat-checkbox>
            <mat-checkbox class="checkbox">Mobilado</mat-checkbox>
            <mat-checkbox class="checkbox">Porta Blindada</mat-checkbox>
            <mat-checkbox class="checkbox">Garage</mat-checkbox>
        </div>
        <div class="row width-80">
            <mat-checkbox class="checkbox">Closed condominium</mat-checkbox>
            <mat-checkbox class="checkbox">Elevador</mat-checkbox>
            <mat-checkbox class="checkbox">Vista de mar</mat-checkbox>
            <mat-checkbox class="checkbox">Gym</mat-checkbox>
            <mat-checkbox class="checkbox">Piscina</mat-checkbox>
        </div>
        <!--LINE 8-->
        <div class="row width-80">
            <button class="list" mat-raised-button (click)="publishListingSubmit()">Publish listing</button>
        </div>
    </div>

</div>
