<form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
  <div class="center">
    <div class="column background-filter login">
      <div class="welcome-header">
        Welcome to ImoRentals
      </div>
     <mat-divider></mat-divider>
      <div class="bold-text">Email</div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" matInput formControlName="email" placeholder="Type you email">
          <mat-error>
            Email required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="bold-text">Password</div>
      <div>
        <mat-form-field class="full-width password" appearance="outline">
          <mat-label>Passowrd</mat-label>
          <input [(ngModel)]="password" matInput type="password" formControlName="password"
            placeholder="Type your password">
          <mat-error>
            Password required
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" [loading]="loadingButton" class="login-btn"> Login </button>
      <button mat-raised-button class="forgot-btn"> Forgot you password? </button>
    </div>
  </div>
</form>