.login {
    margin-top: 70px;
    padding: 15px;
    width: 30%;
    //height: 34%;
    > div,
    button {
        margin: 5px;
    }
}

.welcome-header{
    justify-content: center;
    //font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px !important;
    //font-weight: bold;
    display: flex;
}

.password{
    margin-bottom: 15px;
}

.bold-text{
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: unset !important;
}

.middle {
    display: flex;
    justify-content: center;
}

.login-btn {
    background-color: #0361ec;
    color: white;
    border-radius: 25px;
}

.forgot-btn {
    background-color: #3f81e4;
    color:  white;
    border-radius: 25px;
}

.register-btn {
    background-color:rgb(110, 52, 226);
    color:  white;
    border-radius: 25px;
}

.link-new-user {
    margin-top: 10px;
    margin-left: 10px;
    color: #1c4cc5;
    text-decoration: underline;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}
