<div class="body-page">
<div class="container form-container">
  <div class="row pop-up-form justify-content-center">
    <div class="col-sm-4" *ngIf="!isMobile">
      <img class="image-form" src="/assets/images/login_home.jpg" width="100%" />
    </div>
    <div class="col-sm-8">
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form-right-side" novalidate>
        <div class="row form-title">
          Welcome to ImoRentals
        </div>
        <div class="row">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" matInput formControlName="email" placeholder="Type you email">
            <mat-error>
              Email required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field password" appearance="outline">
            <mat-label>Passowrd</mat-label>
            <input [(ngModel)]="password" matInput type="password" formControlName="password"
              placeholder="Type your password">
            <mat-error>
              Password required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <button mat-raised-button type="submit" [loading]="loadingButton" class="button submit-button"> Login </button>
          <button mat-raised-button (click)="goToResigter()" class="button second-button"> Register </button>  
          <button mat-raised-button class="button primary-button"> Forgot you password? </button>
        </div>
      </form>
    </div>
  </div>
</div>