.welcome {
    background: linear-gradient(to right, rgb(28, 76, 197), #ff4081);
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;

}