

$dimension-breakpoint-xxs-min: 300px;
$dimension-breakpoint-xs-min: 400px;
$dimension-breakpoint-sm-min: 600px;
$dimension-breakpoint-md-min: 800px;
$dimension-breakpoint-lg-min: 1000px;
$dimension-breakpoint-xl-min: 1220px;
$dimension-breakpoint-xl-mid-min: 1365px;
$dimension-breakpoint-xxl-min: 1440px;
$dimension-breakpoint-xxxl-min: 1499px;
$dimension-breakpoint-max-min: 2100;