@import "~src/sass/_vars";
.body-page {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.card-property {
    width: 300px;
    margin-right: 10px;
}

.container-row {
    width: 100%;
    // justify-content: space-between;
    > div {
        width: 24%;
        cursor: pointer;
    }
}

.text {
    margin-bottom: 15px;
}

.title {
    font-weight: bold;
    font-size: large;
}

.seemore {
    color: rgb(89, 142, 255);
    font-size: small;
    text-decoration: underline;
}

.container-promoted {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-new-listings {
    margin-top: 10px;
    margin-bottom: 80px;
}

.container-all-listings {
    width: 100%;
    .text-all-listings {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .title-all-listings {
            font-weight: bold;
            font-size: x-large;
        }
    }
}

.cubes {
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;

    .card {
        width: 30%;
        // border-radius: 15px;
    }

    .title, .center-button  {
        display: flex;
        justify-content: center;
    }

    .text-content {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .icon {
        display: flex;
        justify-content: center;
        
        .material-icons {
            font-size: 100px;
        }
    }

    .search {
        margin-top: 20px;
        height: 40px;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(89, 142, 255);
        color: white;
      }
}

.statistics-container {
    width: 100%;
    height: 150px;
}

.statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}

 .info-box{
    width: 50px;
    height:50px
 }

 .arrow-left{
    background-image:url( "/assets/icons/arrow-left.svg");
 }

 .arrow-right{
    background-image: url("/assets/icons/arrow-right.svg");
}

.slide {
    display: flex;
}

.pull-left{
    line-height: 150px;
    text-align: center;
    margin-right: 10px;
}

.pull-right{
    line-height: 150px;
    text-align: center;
    margin-left: 10px;
}

::ng-deep{
   .carousel-inner {
        margin-top: 25px;
        text-align: center;
    }
    .carousel-indicators li { visibility: hidden; }
}

mat-card{
    background: #aec2f3;
}



@media (min-width: $dimension-breakpoint-xxs-min) {
    .cubes {
        .text-content {
            height: 35%;
        }
    }
    mat-card{
        height: 200px;
    }
}

@media (min-width: $dimension-breakpoint-xs-min) {
    .cubes {
        .text-content {
            height: 35%;
        }
    }
    mat-card{
        height: 200px;
    }
}



@media (min-width: $dimension-breakpoint-sm-min) {
    .cubes {
        .text-content {
            height: 35%;
        }
    }
    mat-card{
        height: 200px;
    }
}


  
@media (min-width: $dimension-breakpoint-md-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}


  
@media (min-width: $dimension-breakpoint-lg-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xl-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xl-mid-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xxl-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xxxl-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}


@media (min-width: $dimension-breakpoint-max-min) {
    .cubes {
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}