<div class="board-container">

  <!--Promoted-->
  <div class="container-promoted">
    <div class="text">
      <div class="title">Promoted</div>
      <div class="seemore">See more(1987)</div>
    </div>
    <mat-spinner *ngIf=!loadedPromtedProperties></mat-spinner>
    <div *ngIf=loadedPromtedProperties>
      <div class="row container-row">
        <div *ngFor="let property of promotedProperties">
          <div class="mr-5">
            <app-property-frame [property]="property"  [routerLink]="['/details' , property.MySqlId]">
            </app-property-frame>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--New Listings-->
  <div class="container-new-listings">
    <div class=text>
      <div class="title">New Listings</div>
      <div class="seemore">See more(1987)</div>
    </div>
    <mat-spinner *ngIf=!loadedNewListings></mat-spinner>
    <div *ngIf=loadedNewListings>
      <div class="row container-row">
        <div *ngFor="let property of newListings">
          <div class="mr-5">
            <app-property-frame [property]="property"  [routerLink]="['/details' , property.MySqlId]">
            </app-property-frame>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!--All Listings-->
  <div class="container-all-listings">
    <div class=text-all-listings>
      <div class="title-all-listings">All Listings</div>
    </div>
    <div class="row container-row">
      <div *ngFor="let property of allListings">
        <div class="mr-5">
          <app-property-frame [property]="property" [routerLink]="['/property-detail', property.MySqlId]">
          </app-property-frame>
        </div>
      </div>
    </div>
  </div>

  <div class="cubes">
    <div class="card">
      <mat-card>
        <div class="icon">
          <div class="material-icons">
            apartment
          </div>
        </div>
        <div class="title">Buy </div>
        <div class="text-content">Find your dream home among our list of houses</div>
        <div class="center-button">
          <button mat-raised-button class="search"> Buy your dream house</button>
        </div>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <div class="icon">
          <div class="material-icons">
            location_city
          </div>
        </div>
        <div class="title">Sell</div>
        <div class="text-content">Find the best seller for your home</div>
        <div class="center-button">
          <button mat-raised-button class="search"> Sell at the best price</button>
        </div>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <div class="icon">
          <div class="material-icons">
            home
          </div>
        </div>
        <div class="title">Rent</div>
        <div class="text-content">Explore our best options in the market</div>
        <div class="center-button">
          <button mat-raised-button class="search"> Find a room </button>
        </div>
      </mat-card>
    </div>
  </div>

</div>
<router-outlet></router-outlet>