<div class="body-page">

  <ng-container *ngIf="isMobile">
    <mat-tab-group>
      <mat-tab label="Promoted">
        <div class="container-promoted">
          <div class="text">
            <div class="title">Promoted</div>
          </div>
          <mat-spinner *ngIf="!loadedHotPropertiesToBuy"></mat-spinner>
          <span *ngIf="loadedHotPropertiesToBuy && hotPropertiesToBuy.length === 0">No properties available</span>
          <app-list-of-cards  [promotedProperties] = "hotPropertiesToBuy" [arrow]= "false"></app-list-of-cards>
        </div>
      </mat-tab>
      <mat-tab label="New Listings">    
        <div class="container-new-listings">
          <div class=text>
            <div class="title">New Listings</div>
          </div>
          <mat-spinner *ngIf=!loadedNewApartmentsToBuy></mat-spinner>
          <span *ngIf="loadedNewApartmentsToBuy && newApartmentsToBuy.length === 0">No properties available</span>
          <app-list-of-cards  [promotedProperties] = "newApartmentsToBuy" arrow= "false"></app-list-of-cards>
        </div>
      </mat-tab>
      <mat-tab label="All Listings">
        <div class="container-all-listings">
          <div class=text-all-listings>
            <div class="title-all-listings">All Listings</div>
          </div>
          <app-list-of-cards  [promotedProperties] = "newRoomsToRent" [arrow]= "false"></app-list-of-cards>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

  <ng-container *ngIf="!isMobile">
    <div class="container-promoted">
      <div class="text">
        <div class="title">Promoted</div>
        <div class="seemore">See more({{hotPropertiesToBuy.length}})</div>
      </div>
      <mat-spinner *ngIf="!loadedHotPropertiesToBuy"></mat-spinner>
      <span *ngIf="loadedHotPropertiesToBuy && hotPropertiesToBuy.length === 0">No properties available</span>
        <app-list-of-cards  [promotedProperties] = "hotPropertiesToBuy" [arrow] = "true"></app-list-of-cards>
      </div>

    <!--New Listings-->
    <div class="container-new-listings">
      <div class=text>
        <div class="title">New Listings</div>
        <div class="seemore">See more({{hotPropertiesToBuy.length}})</div>
      </div>
      <mat-spinner *ngIf=!loadedNewApartmentsToBuy></mat-spinner>
      <span *ngIf="loadedNewApartmentsToBuy && newApartmentsToBuy.length === 0">No properties available</span>
      <app-list-of-cards  [promotedProperties] = "newApartmentsToBuy" arrow= "true"></app-list-of-cards>
    </div>

    <!--All Listings-->
    <div class="container-all-listings">
      <div class=text-all-listings>
        <div class="title-all-listings">All Listings</div>
      </div>
      <app-list-of-cards  [promotedProperties] = "newRoomsToRent" [arrow]= "true"></app-list-of-cards>
    </div>
  </ng-container>

  <ng-container *ngIf="!isMobile">
  <div class="cubes">
    <div class="card">
      <mat-card>
        <div class="icon">
          <div class="material-icons">
            apartment
          </div>
        </div>
        <div class="title">Buy</div>
        <div class="text-content">Find your dream home among our list of houses</div>
        <div class="center-button">
          <button mat-raised-button class="search">Buy your dream house</button>
        </div>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <div class="icon">
          <div class="material-icons">
            location_city
          </div>
        </div>
        <div class="title">Sell</div>
        <div class="text-content">Find the best seller for your home</div>
        <div class="center-button">
          <button mat-raised-button class="search">Sell at the best price</button>
        </div>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <div class="icon">
          <div class="material-icons">
            home
          </div>
        </div>
        <div class="title">Rent</div>
        <div class="text-content">Explore our best options in the market</div>
        <div class="center-button">
          <button mat-raised-button class="search">Find a room</button>
        </div>
      </mat-card>
    </div>
  </div>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <ngb-carousel  (click)="fireEvent($event)">
        <ng-template ngbSlide  *ngFor="let item of items">
        <div class="card">
          <mat-card>
            <div class="icon">
              <div class="material-icons">
                {{item.icon}}
              </div>
            </div>
            <div class="title">{{item.title}}</div>
            <div class="text-content">{{item.description}}</div>
            <div class="center-button">
              <button mat-raised-button class="search">{{item.buttonText}}</button>
            </div>
          </mat-card>
          </div>
        </ng-template>
    </ngb-carousel>
  </ng-container>
</div>
<router-outlet></router-outlet>