@import "~src/sass/_vars";
$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
.body-page {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.card-property {
    width: 300px;
    margin-right: 10px;
}

.container-row {
    width: 100%;
    // justify-content: space-between;
    > div {
        width: 24%;
        cursor: pointer;
    }
}

.text {
    margin-bottom: 15px;
}

.title {
    font-weight: bold;
    font-size: large;
}

.seemore {
    color: rgb(89, 142, 255);
    font-size: small;
    text-decoration: underline;
}

.container-promoted {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-new-listings {
    margin-top: 10px;
    margin-bottom: 80px;
}

.container-all-listings {
    width: 100%;
    .text-all-listings {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .title-all-listings {
            font-weight: bold;
            font-size: x-large;
        }
    }
}

.cubes {
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;

    .card {
        border: none;
        border-right: 5px solid red;
        box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
        border-image: linear-gradient(to top, #1c4cc5, #ff4081) 1 stretch;
    }

    .card:hover {
        transform: scale(1.02) translate(0px, -8px);
        transition: all 300ms ease-in-out 0s;
      
        .button-text, .button-text:focus, .button-text:visited, .button-text:disabled {
          background-color: white;
          border-color: black;
          color: black;
        }
      }

    .title, .center-button  {
        display: flex;
        justify-content: center;
    }

    .text-content {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .icon {
        display: flex;
        justify-content: center;
        
        .material-icons {
            font-size: 100px;
        }
    }

    .search {
        margin-top: 20px;
        height: 40px;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(89, 142, 255);
        color: white;
      }
}

.statistics-container {
    width: 100%;
    height: 150px;
}

.statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}

 .info-box{
    width: 50px;
    height:50px
 }

 .arrow-left{
    background-image:url( "/assets/icons/arrow-left.svg");
 }

 .arrow-right{
    background-image: url("/assets/icons/arrow-right.svg");
}

.slide {
    display: flex;
}

.pull-left{
    line-height: 150px;
    text-align: center;
    margin-right: 10px;
}

.pull-right{
    line-height: 150px;
    text-align: center;
    margin-left: 10px;
}

::ng-deep{
   .carousel-inner {
        margin-top: 25px;
        text-align: center;
    }
    .carousel-indicators li { visibility: hidden; }
    .mat-tab-group.mat-primary .mat-ink-bar{
        background-color: rgb(192, 57, 43);
        background-image: linear-gradient(0deg, rgb(192, 57, 43), rgb(142, 68, 173));
    }
}


@media (min-width: $dimension-breakpoint-xxs-min) {
    .cubes {
        .card {
            width: 100%;
        }

        .text-content {
            height: 35%;
        }
    }
    mat-card{
        height: 400px;
    }
}

@media (min-width: $dimension-breakpoint-xs-min) {
    .cubes {
        .card {
            width: 100%;
        }
        .text-content {
            height: 35%;
        }
    }
    mat-card{
        height: 400px;
    }
}



@media (min-width: $dimension-breakpoint-sm-min) {
    .cubes {
        .card {
            width: 100%;
        }
        .text-content {
            height: 35%;
        }
    }
    mat-card{
        height: 400px;
    }
}


  
@media (min-width: $dimension-breakpoint-md-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}


  
@media (min-width: $dimension-breakpoint-lg-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xl-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xl-mid-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xxl-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}

@media (min-width: $dimension-breakpoint-xxxl-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}


@media (min-width: $dimension-breakpoint-max-min) {
    .cubes {
        .card {
            width: 32%;
        }
        .text-content {
            height: auto;
        }
    }
    mat-card{
        height: 100%;
    }
}