.form-field {
    width: 95%;
}

.border-box {
    margin-top: 100px;
    padding: 15px;
    width: 40%;
}

.border-box-no-height{
    padding: 15px;
    width: 30%;
}

.register-header{
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}

.register-btn {
    height: 50px;
    border-radius: 15px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
