<div class="card">
  <div class="card-container">

    <div class="card-image">
      <img [src]="image" width="100%" height="100%">
    </div>

    <div class="card-container-content">
      <div class="charachteristics">{{property.NetAream2}} m2 | {{property.Typology}} bedrooms | {{property.NumberOfBathrooms}} bathrooms</div>
      <div class="address-price-row">
        <div class="address">{{property.City}}, {{property.Country}}</div>
        <div class="price">{{property.Price}} $</div>
      </div>
    </div>

  </div>
</div>