.container-center {
    display: flex;
    align-items: center;
    height: 150vh;
    flex-direction: column;
    width: 100%;
}

.container-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.form {
    margin: 5px;
}

.textarea {
    width: 95%;
    background-color: rgb(243, 243, 243);
}

.list {
    margin-top: 20px;
    margin-left: auto;
    border-radius: 15px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    width: 190px;
    background-color: rgb(110, 52, 226);
    color: white;
}

.photo {
    border-style: solid;
    border-radius: 5px;
    border-color: #1c4cc5;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.photo-inserted {
    border-style: solid;
    border-radius: 5px;
    border-color: #1c4cc5;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
}

.fill img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}

.material-icons {
    font-size: 70px !important;
}

.checkbox {
    margin: 10px;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}
