.row {
    display: flex;
    flex-direction: row;
}

.height {
    height: 100vh;
}
.height-map {
   // height: 1000px;
}

.padding-grid {
 margin: 5px;
}

.frame {
    width: 50%;
    cursor: pointer;
}

app-map {
    #map {
        height: 100vh !important;
    }
}