<app-filter-container></app-filter-container>
<div class="row height">
    <div class="col-5">
        <div class="col-12 slide justify-content-center">
            <div  class="container container-row custom-slider-main" #widgetsContent>
                <div *ngFor="let property of promotedProperties">
                    <div class="card-property">
                        <app-property-frame [property]="property"  [routerLink]="['details' , property.MySqlId,  'search']">
                        </app-property-frame>
                    </div>
                </div>
            </div>

        </div> 
    </div>
    <div class="col-7">
        <div class="row width-80 height-map">
            <app-map-search [mapPointInputList]="mapPoints"></app-map-search>
        </div>
    </div>
</div>

