<div class="row-custom">
    <div class="column width-15">
        <div class="button-wrapper">
            <button mat-raised-button class="button-main-menu width-100" [routerLink]="['/userboard']">Back</button>
        </div>
    </div>
    <div class="column width-70">

        <div class=row *ngFor="let property of listedProperties; index as i">
            <div class="card-wrapper">
                <app-card [property]="property"></app-card>
            </div>
            
        </div>


    </div>
</div>