.custom {
    height: 80vh;
}

.card {
    width: 100%;
    height: 200px;
    width: 300px;
    margin: 5px;
}

.card-image {
    height: 70%;
}

.button-margin {
    margin-left: 3px;
    margin-right: 3px;
}

.space-between{
    display: flex;
    flex-direction: row;            
    flex-wrap: nowrap;             
    justify-content: space-between;
}

.button-blue {
    border-radius: 25px;
    height: 35px;
    background-color: blue;
    color: white;
    margin-right: 5px;
}

.button-orange {
    border-radius: 25px;
    height: 35px;
    background-color: orange;
    color: white;
    margin-right: 5px;
}

.button-red {
    border-radius: 25px;
    height: 35px;
    background-color: red;
    color: white;
    margin-right: 5px;
}

