.navbar {
    // background: linear-gradient(to right, rgb(28, 76, 197), #ff4081);
    background: black;
    height: 60px;
}

.high-tech-navbar {
    // background: linear-gradient(to right, rgb(28, 76, 197), #ff4081);
    background: black;
}
.navbar-brand,
.nav-link,
.nav-icon {
    color: white;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: #0361ec;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: rgb(110, 52, 226);
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.add-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 15px;
    //background-color: rgb(131, 241, 245);
    background-color: white;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    .nav-link {
        color: black !important;
    }
}

.flex {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    align-items: center;
}

.white-icon {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    margin-left: 5px;
    padding: 1px;
}

// mobile
mat-toolbar {
    position: fixed;
    z-index: 2;
}
mat-sidenav {
    top: 56px;
    width: 200px;
}
mat-sidenav-content {
    margin-top: 10%;
}
mat-sidenav-container {
    height: 100vh;
}


mat-sidenav-container::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
  }