.navbar {
    background: white;
    height: 60px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.high-tech-navbar {
    background: white;
}
.navbar-brand,
.nav-link,
.nav-icon {
    color: black;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: #0361ec;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: rgb(110, 52, 226);
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.add-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    .nav-link {
        color: black !important;
    }
}

.flex {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    align-items: center;
}

.white-icon {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    margin-left: 5px;
    padding: 1px;
}

// mobile
mat-toolbar {
    position: fixed;
    z-index: 2;
}
mat-sidenav {
    top: 56px;
    width: 200px;
}
mat-sidenav-content {
    margin-top: 10%;
}
mat-sidenav-container {
    height: 100vh;
}

::ng-deep{
    .nav-mat-drawer-container {
        .mat-drawer{
            background-color: white;
           
        }
        .mat-list-item{
            color: black;
        }

    }

    .nav-inverse-mat-drawer-container {
        .mat-drawer{
            background-color: black;
          
        }
        .mat-list-item{
            color: white
        }
    }
}



.navbar-inverse{
    background: black;
    color: white;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    .navbar-brand,
    .nav-link,
    .nav-icon {
        color: white;
    }

    .white-icon {
        background-color: black;
    }
}

.title-begin{
    background-color: rgb(192, 57, 43);
    background-image: linear-gradient(0deg, rgb(192, 57, 43), rgb(142, 68, 173));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
