<div class="full-width border-margins row-space-around colored-background">
  <div class="border-margins width-75">
    <!-- <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Location" [ngModel]="location">
    </mat-form-field> -->
    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Location" #search type="search" (keyup.enter)="onKeyupEnter(search.value)"
        [formControl]="control" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="suggestions$ | async as suggestions">
        <mat-option *ngFor="let suggestion of suggestions?.Results" [value]="suggestion.Text">
          <span [innerHtml]="suggestion.Highlight"></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>

  </div>
  <div class="border-margins width-25">
    <div class="submit-button">
      <button mat-raised-button class="search" (click)="searchFunction()">
        <div class="material-icons">
          search
        </div>
        Search
      </button>
    </div>
  </div>
</div>