<div class="row full-width border-margins row-space-around">
  <div class="col-sm-8">
    <mat-form-field class="form-field" appearance="outline">
      <input matInput placeholder="Location" #search type="search" (keyup.enter)="onKeyupEnter(search.value)"
        [formControl]="control" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="suggestions$ | async as suggestions">
        <mat-option *ngFor="let suggestion of suggestions?.Results" [value]="suggestion.Text">
          <span [innerHtml]="suggestion.Highlight"></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>

  </div>
  <div class="col-sm-4">
      <button mat-raised-button class="search button submit-button" (click)="searchFunction()">
        <div class="material-icons">
          search
        </div>
        Search
      </button>
  </div>
</div>
