<div class="row">
  <div class="column width-15">
    <div class="button-wrapper">
      <button mat-raised-button color="primary" class="mat-button width-100" [routerLink]="['/userboard']">Back</button>
    </div>

  </div>
  <div class="column width-70">
    <div class="row row-margin background-filter">
      <div class="column">
        <div class="section-title">Change password</div>
        <mat-form-field appearance="outline">
          <mat-label>Old password</mat-label>
          <input type="password" matInput required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>New password</mat-label>
          <input type="password" matInput required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input type="password" matInput required>
        </mat-form-field>
      </div>
    </div>
    <div class="row row-margin background-filter">
      <div class="column">
        <div class="section-title">Change email</div>
        <mat-form-field appearance="outline">
          <mat-label>Old password</mat-label>
          <input type="password" matInput required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>New password</mat-label>
          <input type="password" matInput required>
        </mat-form-field>
      </div>
    </div>
    <div class="row row-margin background-filter">
      <div class=column>
        <div class="section-title">Delete account</div>
        <div class="button-wrapper">
          <button mat-raised-button color="warn" class="mat-button width-100">Delete Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
