.top-margin {
    margin-top: 2%;
}

.board-container {
    display: flex;
    flex-direction: row;

    > .left-container {
        display: flex;
        flex-direction: column;
    }
}



.preview {
    display: flex;
    > button {
        width: 150px;
    }
    .status {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: larger;
        font-weight: bold;
        color: rgb(231, 105, 105);
    }
}

.title {
    border-radius: 15px;
    box-shadow: 0 10px 60px -6px #777, 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: rgb(133, 130, 130);
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img {
        border-radius: 75px;
    }
    > span {
        margin-top: 10px;
    }
}

.error {
    font-size: 10px;
    color: red;
  }

.margin-right {
    margin-left: 15px;
}

.fas.fa-times-circle {
    font-size: 30px;
    color: black;
}

.add {
    margin-top: 15px;
}

.cell {
    padding-left: 5px;
    padding-right: 5px;
}

.row-margin {
    margin-bottom: 20px;
    padding: 10px;
}

.textearea {
    width: 100%;
}


.delete {
    cursor: pointer;
}

.radio {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-direction: column;

    mat-label {
        margin-bottom: 5px;
    }
}

mat-radio-group {
    padding-top: 5px !important;
    padding-left: 5px !important;;
    padding-right: 5px !important;
    background-color: rgb(250, 242, 242) !important;
    border-radius: 10px !important;

    mat-radio-button {
        margin-left: 5px !important;
    }
}

::ng-deep mat-radio-button.level-1 .mat-radio-inner-circle {
    background-color: yellow !important;
}
::ng-deep mat-radio-button.level-1 .mat-radio-outer-circle {
    border-color: yellow !important;
}

::ng-deep mat-radio-button.level-2 .mat-radio-inner-circle {
    background-color: rgb(255, 208, 0) !important;
}
::ng-deep mat-radio-button.level-2 .mat-radio-outer-circle {
    border-color: rgb(255, 208, 0) !important;
}

::ng-deep mat-radio-button.level-3 .mat-radio-inner-circle {
    background-color: rgb(255, 174, 0) !important;
}
::ng-deep mat-radio-button.level-3 .mat-radio-outer-circle {
    border-color: rgb(255, 174, 0) !important;
}

::ng-deep mat-radio-button.level-4 .mat-radio-inner-circle {
    background-color: rgb(255, 123, 0) !important;
}
::ng-deep mat-radio-button.level-4 .mat-radio-outer-circle {
    border-color: rgb(255, 123, 0) !important;
}

::ng-deep mat-radio-button.level-5 .mat-radio-inner-circle {
    background-color: rgb(255, 72, 0) !important;
}
::ng-deep mat-radio-button.level-5 .mat-radio-outer-circle {
    border-color: rgb(255, 72, 0) !important;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}


