<div class="background-filter card">
  <div class="jobs-card-header">
    <div class="image">
      <img [src]="image" width="60" height="60">
    </div>
    <div class="column">
      <div class="jobs-card-header-job-title">
        .NET Developer
      </div>
      <div class="jobs-card-header-company">
        Microsoft
      </div>
      <div class="jobs-card-header-job-location">
        Lisbon
      </div>
    </div>
  </div>
  <div class="jobs-card-content column">
    <div>
      $20k - $35k
    </div>

    <div>
      Posted 2 weeks ago
    </div>

  </div>
</div>
