.jobs-card-header{
    display: flex;
    flex-direction: row;
    width:100%
}

.jobs-card-header-job-title{
    font-weight: bold;
}

.image{
    width:30%
}

.card{
    padding: 5px;
    width: 100%;
}

.apply-button{
    width: 30%;
    border-radius: 20px;
    margin-left: auto;
}