.board-container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-row{
    width: 100%;
    justify-content: space-between;
    >div {
        width: 24%;
    }
}