<div class="board-container">
  <div class="row container-row">
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
  </div>
  <!--TEST-->
  <div class="row container-row">
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
    <div>
      <app-jobs-frame></app-jobs-frame>
    </div>
  </div>
</div>
