.center-align {
  justify-content: space-between;
  > div {
    margin: 5px;
  }
}

.submit-button {
  //width: 30%;
  margin-left: auto;
  padding-bottom: 25px;
  > button {
    width: 100%;
  }
}

.search {
  border-radius: 15px;
  height: 50px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(110, 52, 226);
  color: white;
}

.border-margins {
  padding-left: 5px;
  padding-right: 5px;
}

.row-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.width25 {
  width: 25%;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
