.center-align {
  justify-content: space-between;
  > div {
    margin: 5px;
  }
}

.border-margins {
  padding-left: 5px;
  padding-right: 5px;
}

.row-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  // color: blue;
  // border-style: solid;
  // border-width: 2px;
  background-color: aliceblue;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
