.search-container{
    background: white!important;
    display: flex!important;
    margin-right: 10px!important; 
    margin-left: 10px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    border-bottom: 2px solid #787878!important;
    ::ng-deep{
        .mat-form-field-wrapper{
            margin-bottom: 0px!important;
            padding-bottom: 8px!important;
        }
        .mat-form-field-infix{
            padding: 0.8em 0 1em 0!important;
        }
        mat-form-field{
            padding-right: 5px!important;
        }
    }

    .submit-button{
        button{
            background: #1E90FF!important;
        }
    }
    .more-button{
        button{
            background: #ADD8E6!important;
        }
        margin-right: 5px!important;
    }
    .search-buttons{
        display: flex!important;  
        margin-top: 10px!important;
    }
}