<form [formGroup] = "searchProperties" [patchFormGroupValues]='formValues$ | async'>
<div class="row search-container">    
    <mat-form-field class="col-4" appearance="outline">
        <input matInput placeholder="Location" #search type="search" (keyup.enter)="onKeyupEnter(search.value)"
        formControlName="location" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container *ngIf="suggestions$ | async as suggestions">
          <mat-option *ngFor="let suggestion of suggestions?.Results" [value]="suggestion.Text">
            <span [innerHtml]="suggestion.Highlight"></span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <mat-form-field appearance="outline" class="col-1" *ngIf="!isMobile">
        <mat-label>Sell</mat-label>
        <mat-select formControlName = "purposeType">
          <mat-option *ngFor="let purposeType of operationTypes" [value]="purposeType.Id">
            {{purposeType.Type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-1" *ngIf="!isMobile">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName = "propertyType">
          <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.Id">
            {{propertyType.Type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-3 search-buttons">
          <button mat-raised-button class="button primary-button" (click)="openMoreSearchOptions()">
            <div class="material-icons">
              fact_check
            </div>
            More
          </button>
          <button mat-raised-button class="button submit-button" (click)="searchFunction()">
            <div class="material-icons">
              search
            </div>
            Search
          </button>
      </div>
</div>
</form>