.sell-button {
    margin: 10px;
    border-radius: 100px !important;
    width: 150px !important;
    height: 150px !important;
    border: black;
    border-style: solid;
    border-width: thin;
    border-color: rgb(196, 194, 194);
    color: white;
    background-color: #1c4cc5;
}

.sell-button.room {
    background-color: #2cc22c !important;
}

.rent-button {
    margin: 10px;
    border-radius: 100px !important;
    width: 150px !important;
    height: 150px !important;
    border: black;
    border-style: solid;
    border-width: thin;
    border-color: rgb(196, 194, 194);
    color: white;
    background-color: #ff4081;
}

.rent-button.room {
    background-color: #36ccfa !important;
}

