<div class="center-column align-items-center">
    <div class="row">
        <div class="col-md-4 on-hover-click" [routerLink]="['/add-listing/sell']">
            <div class="sell-photo"></div>
            <div class="sell-text">Sell Your House</div>
        </div>
        <div class="col-md-4 on-hover-click" [routerLink]="['/add-listing/rent']">
            <div class="rent-photo"></div>
            <div class="rent-text">Rent Your House</div>
        </div>
        <div class="col-md-4 on-hover-click">
            <div class="rent-room-photo"></div>
            <div class="rent-room-text">Rent Your Room</div>
        </div>
    </div>

</div>