
.row {
width: 100%;
}

.align-items-center {
    display: flex;
    align-items: center;
}
// SELL HOUSE

.sell-photo {
    height: 300px;
    width: 100%;
    background-image: url('../../../assets/images/sell-house.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.sell-text {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    //font-weight: bold;
    font-size: 30px;
}

// RENT HOUSE

.rent-photo {
    height: 300px;
    width: 100%;
    background-image: url('../../../assets/images/rent-house.jpg');
    background-repeat:no-repeat;

    background-size:cover;

}

.rent-text {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    //font-weight: bold;
    font-size: 30px;
}

// RENT ROOM

.rent-room-photo {
    height: 300px;
    width: 100%;
    background-image: url('../../../assets/images/rent-room.jpg');
    background-repeat:no-repeat;

    background-size:cover;

}

.rent-room-text {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    //font-weight: bold;
    font-size: 30px;
}

.on-hover-click {
    cursor: pointer;
}


