.card-image {
    height: 70%;
}

.details {
    padding: 10px;
}

.price {
    color: blue;
    font-weight: bold;
    font-size:x-large;
}

.address {
    font-weight: bold;
}

.meters, .typology, .bathrooms {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.description {
    color: rgb(88, 88, 88);
}

app-property-frame {
    cursor: pointer;
}
::ng-deep #map {
width: unset !important;
}

.map-div {
    width: 100%;
}

// Material Override PLACE TO STYLES

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}



