<div class="footer">
  <div class="content">
    <div class="column">
      <div class="row">

        <div class="column element">
          <div class="row">
            <div>About US</div>
          </div>
          <div class="row">
            <div>Terms</div>
          </div>
          <div class="row">
            <div>Contacts</div>
          </div>
        </div>
        <div class="column element">
          <div class="row">
            <div>FAQ</div>
          </div>
          <div class="row">
            <div>Privacy</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="company-name">@2020 High-Tech Contracting</div>
      </div>









    </div>
  </div>
</div>
