.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(28, 76, 197), #ff4081);
    height: 160px;
    color: white;
}

.element {
    margin-left: 15px;
    margin-right: 15px;
}

.company-name {
    font-size: small;
    color: rgb(170, 170, 170);
}