@import '~bootstrap/scss/bootstrap';
@import "~src/sass/_vars";

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-nomargin {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -10%;
}


.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -10%;
}

.margin-left {
    margin-left: auto;
}

.full-width {
    width: 100%;
}

.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-35 {
    width: 35%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.width-50_2{
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-95 {
    width: 95%;
}

.width-100 {
    width: 100%;
}

.align-items-center {
    align-items: center;
}

.margin-left {
    margin-left: auto !important;
}

.half-width {
    width: 50%;
    padding: 2px;
}

.threefourth-width {
    width: 70%;
    padding: 2px;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

// Box shodow
.background-filter {
   border-radius: 15px;
   box-shadow: 0 10px 60px -6px #777, 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.background-filter-2 {
    // border-radius: 10px;
     box-shadow: 0 10px 60px -6px #777, 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
 }

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-form-field-infix {
    width: unset !important;
}

// mat button override

.mat-button {
    height: 50px !important;
    border-radius: 15px !important;
    font-size: larger !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.button-wrapper {
    padding: 5px !important;
}

// Title

.section-title {
    margin-left: 30px !important;
    font-size: larger !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

.button-main-menu {
    border-radius: 25px !important;
    height: 35px !important;
    color: white !important;
    margin-right: 5px !important;
    background-color: black !important;
}

.mat-loading .mat-button-wrapper {
    visibility: hidden !important;
}

.mat-loading .mat-progress-spinner {
position: absolute !important;
top: calc(50% - 10px) !important;
left: calc(50% - 10px) !important;
}


.pop-up-form{
    border-radius: 10px 10px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
}


.form-title{
    color: #8a8a8a;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 36px;
}


.form-right-side{
    margin: 57px 65px 0px 65px !important
}
.form-field{
    width: 100%;
}
.form-label{
    color: #8a8a8a;
}

.button{    
    height: 50px;
    border-radius: 25px !important;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

.primary-button{
    background-color: #999999;
}

.second-button{
    background-color: #505050;
}

.submit-button{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(192, 57, 43), rgb(142, 68, 173)) repeat scroll 0% 0%;
}

.delete-button{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, 
    #ff1800, rgb(142, 68, 173)) repeat scroll 0% 0%;
    
}

.cancel-button{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #918a8a, #383738) repeat scroll 0% 0%;
}

.edit-button{
    background:  rgba(0, 0, 0, 0) linear-gradient(to right, #2a4dc9, #8e44ad) repeat scroll 0% 0%
}

.body-page{
    min-height: 900px;
    margin-bottom: 20%;
    margin-top: 10%;
}

.characteristics{
    margin-left: 10px;
    .badge-light{
        border: 1px solid white;
        background-color: #999999;
        color: white;
        padding: 7px;
    }
}

.main-characteristics{
    p{
        margin-bottom: 0px;
        margin-left: 2px;
    }
    margin-left: 10px;
    span{
        margin-left: 5px;
        margin-right: 5px;
    }
    .main-characteristics-title{
        font-weight: bold;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 5px solid red;
    border-image: linear-gradient(to right, #1c4cc5, #ff4081) 1 stretch;
  }




@media (min-width: $dimension-breakpoint-xxs-min) {
    .col-sm-8{
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-xs-min) {
    .col-sm-8{
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-sm-min) {
    .col-sm-8{
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-md-min) {
    .col-sm-8{
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-lg-min) {
    .col-sm-8{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-xl-min) {
    .col-sm-8{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-xl-mid-min) {
    .col-sm-8{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-xxl-min) {
    .col-sm-8{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
  }
  
  @media (min-width: $dimension-breakpoint-xxxl-min) {
    .col-sm-8{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
  }
  
  
  @media (min-width: $dimension-breakpoint-max-min) {
    .col-sm-8{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
  }

