.title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.container-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}