<app-filter-search-on-view *ngIf="router.url.includes('/search')"></app-filter-search-on-view>
<div class="column background" *ngIf="router.url.includes('/home')">
    <div class=center-filter>
        <div class="col-12">
           
        </div>
    </div>
    <div class="center-filter" >
        <div class="column background-filter black-background"
            [ngClass]="[isMobile ? 'full-width' : 'threefourth-width']">
            <div class="full-width">
                <app-filter-search [purposeType]="purposeType" [propertyType]="propertyType" [priceFrom]="priceFrom"
                    [priceTo]="priceTo" [bedrooms]="bedrooms" [bathrooms]="bathrooms" [conditions]="conditions"
                    [sizeTo]="sizeTo" [sizeFrom]="sizeFrom" [yearBuiltFrom]="yearBuiltFrom" [yearBuiltTo]="yearBuiltTo"
                    [characteristics]="characteristics"></app-filter-search>
            </div>
        </div>
    </div>
</div>