.background {
    background: linear-gradient(to right, rgb(28, 76, 197), #ff4081);
    padding-bottom: 20px;
}

.black-background {
    background: black;
    padding-top: 7px;
    padding-bottom: 7px;
}

.background-color {
    background-color: white;
}

.center-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    margin: 5px;
}
