.submit-button{
    margin-top: 0.8em;
    button{
        background: #1E90FF;
    }
}

::ng-deep{
.cdk-overlay-container {
    z-index: 99999 !important;
  }
}

  ngb-modal-window.test {
    z-index: 1;
}

ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
}

.form-side {
  padding-top: 20px;
  padding-left: 20px;
  border-right: 5px solid red;
  border-image: linear-gradient(to top, #1c4cc5, #ff4081) 1 stretch;
}