.register {
    display: flex;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.div-btn {
    display: flex;
    justify-content: center;
    width: 50%;
}

.register-btn {
    width: 95%;
    height: 50px;
    border-radius: 15px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-column {
    padding: 25px;
    width: 40%;
}
