<div class="register">
  <div class="register-column">
    <div class="row full-width">
      <div class="div-btn">
        <button class="register-btn" mat-raised-button (click)="goToPrivateUser()">Private User</button>
      </div>
      <div class="div-btn">
        <button class="register-btn-professional" mat-raised-button (click)="goToCompany()">Professional</button>
      </div>
    </div>
    <div class="full-width">
      <app-register-private-user *ngIf="privateUser"></app-register-private-user>
      <app-register-company *ngIf="!privateUser"></app-register-company>
    </div>

  </div>

</div>