.register {
    display: flex;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.div-btn {
    display: flex;
    justify-content: center;
    width: 50%;
}

.register-btn {
    width: 95%;
    height: 50px;
    border-radius: 25px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color:white;
}

.register-btn-professional {
    width: 95%;
    height: 50px;
    border-radius: 25px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(110, 52, 226);
    color:white
}

.register-column {
    padding: 25px;
    width: 40%;
}
