<div class="center">
  <div class="column register-column background-filter">
    <div class="row full-width">
      <div class="width-50"><i class="far fa-user"></i></div>
      <div class="width-50"><i class="far fa-building"></i></div>
    </div>
    <div class="row full-width">
      <div class="div-btn">
        <button class="register-btn" mat-raised-button color="primary" (click)="goToDeveloper()">I am a developer</button>
      </div>
      <div class="div-btn">
        <button class="register-btn" mat-raised-button color="accent" (click)="goToCompany()">I am a company</button>
      </div>
    </div>
  </div>
</div>
